body {
	background: #f9f9f9;
	font-family: 'Lato', sans-serif;
}

.clear-fix {
	clear: both;
}

.primary-color {
	color: #488aff;
}

.secondary-color {
	color: #fff;
}
.tertiary-color {
	color: #16171b;
}

.primary-background {
	background: #488aff;
}

.secondary-background {
	background-color: #fff;
}
.tertiary-background {
	background: #16171b;
}
.font-1 {
	font-family: 'Raleway', sans-serif;
}

.font-2 {
	font-family: 'Lato', sans-serif;
}

.font-size-1 {
	font-size: 20px;
}

.font-size-2 {
	font-size: 16px;
}

.font-size-3 {
	font-size: 14px;
}

.font-size-4 {
	font-size: 12px;
}

.font-size-5 {
	font-size: 10px;
}

.font-weight-1 {
	font-weight: bold;
}
.app-btn-primary {
	border-radius: 0;
	border: 1px solid #488aff;
	font-size: 16px;
}

	.app-btn-primary:hover {
		background-color: #659bfc;
		border-color: #488aff;
	}

.app-btn-secondary {
	border-radius: 0;
	border-color: #16171b;
	font-size: 16px;
}

	.app-btn-secondary:hover {
		background-color: #24262a;
	}
.icon {
	margin: 0 10px;
}
.navbar {
	background: #488aff;
}

.brand-part-one {
	color: #fff;
	font-size: 20px;
}

.brand-part-two {
	color: #000;
	font-size: 16px;
}

.navbar .navbar-collapse ul li a {
	color: #fff;
}

.navbar .navbar-collapse ul .user-session {
	padding: 3px 15px;
}

	.navbar .navbar-collapse ul .user-session img {
		margin-left: 10px;
		width:45px;
		height:45px;
	}

.input-group-addon {
	padding: 8px 14px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 0;
}
/*
	OVERWRITING BOOTSTRAP CLASSES
*/

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #669bfb;
}

.navbar-default .navbar-toggle {
	border-color: #fff;
}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #FFF;
	}

.panel {
	-webkit-box-shadow: none;
	-moz-box-shadow:none;
	box-shadow: none;
}

.panel-default {
	border-color: #fff;
}

	.panel-default > .panel-heading {
		color: #fff;
		background-color: #488aff;
		border-color: #fff;
	}

.caret {
	visibility: hidden;
}

.badge {
	padding: 0 7px;
}
/*************************************************/

.container-body {
	margin-top: 70px;
	padding: 15px;
}

.list-group-item {
	padding: 5px 15px;
	border: 0;
}

	.list-group-item a {
		color: #000;
	}

		.list-group-item a:hover {
			color: #488aff;
		}

.form-control {
	box-shadow: none;
}

	.form-control:focus {
		border-color: #fff;
		outline: 0;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
.categoryList {
	display: none;
}
.input-search {
	border: 1px solid #fff;
	height: 40px;
	border-radius: 0;
}

.btn-search {
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
}

.btn-primary {
	border-radius: 0;
	border: 1px solid #488aff;
	font-size: 16px;
	padding: 7px 16px;
}

.selected-filters {
	margin: 10px 0;
	text-align: center;
}

.selected-filter {
	float: left;
	margin: 5px;
}

.label {
	padding: .3em .6em .4em;
}

.selected-filter, .badge {
	background: #488aff;
}

.topics-container {
	margin-top: 10px;
}

.media-left {
	width: 9%;
}

	.media-left img {
		width: 100%;
	}

.topic-item {
	background-color:#fff;
	position: relative;
	height: 60px;
}

	.topic-item:hover {
		background: #c7c7c7;
		cursor: pointer;
	}
	.topic-item a{
		color:#000;
	}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background: #c7c7c7;
	background: rgba(0, 0, 0, .2);
}

.topic-item:hover .overlay {
	opacity: 1;
}

.row {
	padding: 0;
	margin: 0;
}
/*--------------------------------------------------------------
		START STYLE SURVEY FORM PAGE
  --------------------------------------------------------------
*/

#register-survey h3, h4 {
	margin-bottom: 3%;
}

#register-survey .input-group {
	width: 100%;
	margin: 15px 0 5px 0;
}

	#register-survey .input-group input {
		height: 40px;
		font-size: 14px;
		border: 2px solid #ddd;
	}

	#register-survey .input-group select {
		height: 40px;
		font-size: 14px;
		border: 2px solid #ddd;
	}
	#register-survey .input-group textarea {
		font-size: 14px;
		border: 2px solid #ddd;
		width: 100%;
	}

#add-question, #add-new-answer {
	margin-bottom: 30px;
	padding: 5px 15px;
}

#survey-form .question-container {
	margin-bottom: 10%;
}

#survey-form .question-item {
	position: relative;
	width: 100%;
	border-radius: 10px;
	background-color: #f1f1f1;
	padding: 10px 15px;
	margin-bottom: 15px;
}

	#survey-form .question-item .btn-edit-delete {
		position: absolute;
		right: 10px;
		top: 10px;
	}

	#survey-form .question-item .answer {
		margin-left: 3%;
	}

	#survey-form .question-item .answer-number {
		margin-right: 5px;
	}

#question-form .input-answer {
	border-radius: 20px;
	border-color: #ddd;
}

#question-form .input-group-addon {
	padding: 0px 0 0 5px;
}

	#question-form .input-group-addon button {
		border: 2px solid #ddd;
		padding: 2px 15px;
	}

		#question-form .input-group-addon button:first-child {
			border-bottom-left-radius: 5px;
			border-top-left-radius: 5px;
		}

		#question-form .input-group-addon button:last-child {
			border-bottom-right-radius: 5px;
			border-top-right-radius: 5px;
		}

#question-form #btn-save-question {
	border-radius: 0;
}

#question-form #btn-cancel-question, #btn-close-modal {
	border-radius: 0;
	border-color: #16171b;
}

#question-form .answer-container {
	margin-bottom: 10%;
}

#question-form #answer-container .input-group {
	margin-top: 10px;
}

.modal-content {
	top: 120px;
}

.hide-container {
	display: none;
}
/*--------------------------------------------------------------
		START STYLE TOPIC FORM PAGE
  --------------------------------------------------------------
*/


/*--------------------------------------------------------------
		START STYLES EDIT PROFILE PAGE
  --------------------------------------------------------------
*/

.image-container {
	margin: 0 auto;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	border: 2px solid #ddd;
	overflow: hidden;
}

.app-element-label {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
}

	.app-element-label input[type="file"] {
		display: none;
	}
/*--------------------------------------------------------------
		END STYLES EDIT PROFILE PAGE
  --------------------------------------------------------------
*/

@media (max-width: 1024px) {
	.panel-body h4 {
		font-size: 16px;
	}

	.panel-body .filter {
		font-size: 14px;
	}

	/*--------------------------------------------------------------
		START STYLES EDIT PROFILE PAGE
	  --------------------------------------------------------------
	*/
	#profile-picture-container {
		padding-top: 10px;
	}

		#profile-picture-container h3 {
			font-size: 18px;
		}

		#profile-picture-container .image-container {
			width: 150px;
			height: 150px;
		}

		#profile-picture-container label {
			font-size: 14px;
		}
	/*--------------------------------------------------------------
		END STYLES EDIT PROFILE PAGE
	  --------------------------------------------------------------
	*/
}
@media (max-width: 892px) {
	.container-body {
		margin-top: 100px;
		padding: 10px;
	}
}
@media (max-width: 768px) {
	.app-btn-secondary, .app-btn-primary {
		font-size: 14px;
		padding: 7px 15px;
	}
	.user-session {
		font-weight: bold;
	}

		.user-session img {
			margin-left: 60px;
		}

	.container-body {
		margin-top: 70px;
		padding: 1px;
	}

	.topics-container h4 {
		font-size: 13px;
	}

	.list-filters {
		display: none;
	}

	.panel-default > .panel-heading {
		color: #000;
		background-color: transparent;
		border-bottom-color: #488aff;
	}

	.caret {
		visibility: visible;
	}

	.topic-item {
		height: 40px;
	}
	/*--------------------------------------------------------
		START STYLES OF TOPIC FORM PAGE
	--------------------------------------------------------*/
	#register-survey h3, h4 {
		margin-bottom: 10%;
	}

	#register-survey h3 {
		font-size: 18px;
	}

	#register-survey .input-group {
		margin: 10px 0 8px 0;
	}

	#add-question, #add-new-answer {
		margin-bottom: 20px;
		padding: 6px 10px;
	}

	#survey-form .question-item {
		padding: 20px 15px;
	}

		#survey-form .question-item .btn-edit-delete {
			right: 5px;
			top: 5px;
		}

			#survey-form .question-item .btn-edit-delete button {
				padding: 2px 8px;
				font-size: 10px;
			}

		#survey-form .question-item .question-title {
			font-size: 15px;
		}

	#question-form .input-group-addon button {
		padding: 2px 8px;
	}
	/*--------------------------------------------------------
		END STYLES OF TOPIC FORM PAGE
	--------------------------------------------------------*/
}

@media (max-width: 468px) {
	.media-left {
		width: 20%;
	}

	.user-session img {
		margin-left: 10%;
	}
}
@media (max-width: 268px) {
	.input-search {
		padding-left:2px;
	}
}
