USE [DB_ENCUESTA]
GO
/****** Object:  Table [dbo].[TBL_ANSWER]    Script Date: 5/10/2018 02:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ANSWER](
	[ANSWER_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [varchar](500) NOT NULL,
	[QUESTION_ID] [int] NOT NULL,
 CONSTRAINT [PK_TBL_ANSWER] PRIMARY KEY CLUSTERED 
(
	[ANSWER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_QUESTION]    Script Date: 5/10/2018 02:08:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_QUESTION](
	[QUESTION_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [varchar](500) NOT NULL,
	[TOPIC_ID] [int] NOT NULL,
 CONSTRAINT [PK_TBL_QUESTION] PRIMARY KEY CLUSTERED 
(
	[QUESTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_ANSWER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_ANSWER_TBL_QUESTION] FOREIGN KEY([QUESTION_ID])
REFERENCES [dbo].[TBL_QUESTION] ([QUESTION_ID])
GO
ALTER TABLE [dbo].[TBL_ANSWER] CHECK CONSTRAINT [FK_TBL_ANSWER_TBL_QUESTION]
GO
/****** Object:  StoredProcedure [dbo].[RET_ALL_QUESTIONS]    Script Date: 5/10/2018 02:08:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_ALL_QUESTIONS]
AS
BEGIN
	SELECT * FROM TBL_QUESTION;
END
GO
