
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/Empty.cshtml";
}


    <div class="main-description">
        <i class="fas fa-exclamation-triangle"></i>
        <h1>An error has occurred</h1>
        <h3>Server is currently under high load - please hit 'reload' on your browser in a minute to try again</h3>
    </div>

